.login-box {
    border: 1px solid #dedede;
    padding: 40px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background: #ffffffe0;
}

.login-box.h2.u {
    color: #1c1a42;
}

.empty-div {
    content: "";
    width: 100%;
    height: 100%;
}

.iti {
    width: 100%;
}

.sec-signup .row {
    border-radius: 10px;
    background: #1c1a42;
}